body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

button {
  background-color: antiquewhite;
  color: black;
  padding: 5px;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
  margin-top: 20px;
}
